---
layout: page
title: Articles
---
<!-- <h1>Latest Posts</h1> -->

<ul>
  {% for post in site.posts %}
    {% if post.section == "article"  %}
    {% if post.tags contains 'draft' or post.tags contains 'requiresCompilation' %}
    <!-- dont show drafts or markdown files needing to be compiled-->
    {%  else %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <small>{{ post.date | date_to_string }}</small>
      <p>  {{ post.excerpt }}   </p>
    </li>
    {% endif %}
    {% endif %}
  {% endfor %}
</ul>