<canvas id="chart" class="chartjs" width="300" height="150"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<form>
    Phi: <input type="number" id="phi_id"><br>
    <input type="submit" value="Submit" onclick="update_phi()">
</form>

<script>
var phi = 1;
var dt = 1000; 

function update_phi() {
    phi = document.getElementById("phi_id").value;
}

var start_time = new Date().getTime();

chart = new Chart(document.getElementById("chart"),
    {"type":"line",
        "data":{
        "labels":[],
        "datasets":[{"label":"u",
        "data":[],
        "fill":false,
        "borderColor":"rgb(75, 192, 192)",
        "lineTension":0.1}]},
        "options":{}
    }
);


function addData(chart, label, data) {
    chart.data.labels.push(label);
    chart.data.datasets.forEach((dataset) => {
      dataset.data.push(data);
    });
    chart.update();
}

function removeData(chart) {
    chart.data.labels.shift();
    chart.data.datasets.forEach((dataset) => {
        dataset.data.shift();
    });
    chart.update();
}


function the_fn(last_y){
  var next_y = last_y + phi*((Math.random() * (1 - (-1)) ) + (-1));
  return next_y;
}

function timed_callback() {
  var current_time = new Date();
  let s = (current_time - start_time)/1000.0;
//   console.log(s);
//   console.log(chart.data.datasets[0].data);
  let length = chart.data.datasets[0].data.length;

  if( length>0 ){
    var y_nminus1 = chart.data.datasets[0].data[length-1]
  } else {
    var y_nminus1 = 0; 
    addData(chart, s, y_nminus1);
  }

  let y = the_fn(y_nminus1);
  addData(chart, s, y);
  console.log("length: ", length, ", y: ", y, " y minus 1: ", y_nminus1 );

  if(chart.data.labels.length > 100) { removeData(chart)};
  // if( chart.data.length > 5 ) {removeData(chart);}
  setTimeout(timed_callback, dt);
}



setTimeout(timed_callback, dt);

</script>
